.subtotal__btn {
    background: #f0c14b;
    width:100%;
    height:30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.subtotal {
    background-color: rgb(234,237,237);
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:300px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.subtotal__text {
    display:inline-block;
}